In [232]:
import re
import pandas as pd
pd.options.display.max_seq_items = 4000
pd.options.display.max_rows = 4000
pd.options.display.max_columns = 4000
pd.set_option('display.max_rows', 1000)

In [233]:
filename = 'fake_job_postings.csv'
job_df = pd.read_csv(filename)

In [234]:
job_df.groupby(job_df.fraudulent).count()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function
fraudulent,,,,,,,,,,,,,,,,,
0,17014,17014,16687,5998,2645,14293,17014,14473,10168,17014,17014,17014,13784,10399,9360,12386,10896
1,866,866,847,335,223,279,865,712,502,866,866,866,625,431,415,591,529

In [235]:
job_df.department.fillna('unspecified', inplace = True)
job_df.required_education.fillna('Unspecified', inplace = True)
job_df.required_experience.fillna('Unspecified', inplace = True)
job_df.industry.fillna('Unspecified', inplace = True)
job_df.company_profile.fillna('Unspecified', inplace = True)

In [236]:
job_df['has_salary_range'] = job_df.salary_range.notnull().astype('int')

In [237]:
job_df.drop('salary_range', axis = 1, inplace = True)

In [238]:
pd.DataFrame(job_df.isnull().sum()).T

,job_id,title,location,department,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,has_salary_range
0,0,0,346,0,0,1,2695,7210,0,0,0,3471,0,0,0,6455,0,0

In [239]:
df = job_df.dropna(axis = 0)
df.shape

(7112, 18)

In [240]:
df.groupby(df.fraudulent).count()

,job_id,title,location,department,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,has_salary_range
fraudulent,,,,,,,,,,,,,,,,,
0,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790,6790
1,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322,322

In [193]:
job_df.industry.value_counts()

Information Technology and Services     1734
Computer Software                       1376
Internet                                1062
Marketing and Advertising                828
Education Management                     822
Financial Services                       779
Hospital & Health Care                   497
Consumer Services                        358
Telecommunications                       342
Oil & Energy                             287
Retail                                   223
Real Estate                              175
Accounting                               159
Construction                             158
E-Learning                               139
Management Consulting                    130
Design                                   129
Staffing and Recruiting                  127
Health, Wellness and Fitness             127
Insurance                                123
Automotive                               120
Logistics and Supply Chain               112
Human Resources                          108
Online Media                             101
Apparel & Fashion                         97
Legal Services                            97
Facilities Services                       94
Hospitality                               88
Computer Games                            86
Banking                                   84
Building Materials                        78
Nonprofit Organization Management         76
Leisure, Travel & Tourism                 76
Entertainment                             74
Electrical/Electronic Manufacturing       73
Food & Beverages                          72
Cosmetics                                 65
Airlines/Aviation                         63
Consumer Goods                            63
Consumer Electronics                      62
Medical Practice                          60
Public Relations and Communications       58
Civic & Social Organization               55
Market Research                           54
Transportation/Trucking/Railroad          53
Restaurants                               52
Warehousing                               51
Events Services                           50
Broadcast Media                           50
Computer & Network Security               49
Environmental Services                    49
Media Production                          48
Food Production                           44
Computer Networking                       44
Pharmaceuticals                           42
Gambling & Casinos                        42
Publishing                                39
Biotechnology                             38
Mechanical or Industrial Engineering      37
Computer Hardware                         35
Utilities                                 33
Graphic Design                            32
Printing                                  30
Security and Investigations               30
Research                                  29
Venture Capital & Private Equity          29
Information Services                      28
Farming                                   24
Aviation & Aerospace                      24
Mental Health Care                        23
Sports                                    23
Chemicals                                 22
Government Administration                 22
Writing and Editing                       19
Law Practice                              19
Medical Devices                           19
Outsourcing/Offshoring                    19
Business Supplies and Equipment           18
Fund-Raising                              16
Professional Training & Coaching          14
Semiconductors                            11
Machinery                                 11
Higher Education                          11
Wholesale                                 11
Government Relations                      11
Music                                     10
Translation and Localization              10
Law Enforcement                           10
Architecture & Planning                   10
Individual & Family Services               9
Renewables & Environment                   9
Civil Engineering                          9
Defense & Space                            9
Program Development                        9
International Trade and Development        8
Executive Office                           8
Veterinary                                 8
Photography                                7
Industrial Automation                      7
Public Safety                              7
Motion Pictures and Film                   6
Primary/Secondary Education                6
Investment Management                      6
Religious Institutions                     6
Package/Freight Delivery                   5
Capital Markets                            5
Import and Export                          5
Animation                                  5
Packaging and Containers                   5
Wireless                                   4
Luxury Goods & Jewelry                     4
Philanthropy                               4
Commercial Real Estate                     4
Fishery                                    4
Investment Banking                         4
Public Policy                              3
Mining & Metals                            3
Maritime                                   3
Plastics                                   3
Furniture                                  3
Performing Arts                            3
Military                                   2
Nanotechnology                             2
Textiles                                   2
Libraries                                  2
Wine and Spirits                           1
Ranching                                   1
Museums and Institutions                   1
Sporting Goods                             1
Alternative Dispute Resolution             1
Shipbuilding                               1
Name: industry, dtype: int64

In [241]:
df.title.value_counts()

Graduates: English Teacher Abroad (Conversational)    144
English Teacher Abroad (Conversational)                77
Customer Service Representative                        43
Sales Representative                                   37
Account Manager                                        34
                                                     ...
C Senior Account Manager (German speaking)              1
Software/Hardware Engineers                             1
Digital Media specialist for Africa region              1
Therapist                                               1
Junior .NET Software Engineer                           1
Name: title, Length: 4838, dtype: int64

In [185]:
df.location = df.location.replace(to_replace='[A-Za-z]+,|,|^[\s]', value='', regex=True)

/home/jawwad/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [186]:
df.location = df.location.replace(to_replace='\d+', value='', regex=True)

In [190]:
df.location.value_counts()

  London                                                            495
                                                                    412
  Athens                                                            216
  New York                                                          205
  San Francisco                                                     183
  Auckland                                                          147
  Berlin                                                            119
  Austin                                                            104
  San Diego                                                          94
  Portland                                                           84
  Houston                                                            75
  Chicago                                                            72
  Los Angeles                                                        65
  Brussels                                                           63
  Brooklyn                                                           62
  Virginia Beach                                                     57
  Atlanta                                                            50
  Santa Monica                                                       49
  Vancouver                                                          45
  Las Vegas                                                          45
  Philadelphia                                                       40
  Boston                                                             39
  New York City                                                      39
  Dallas                                                             37
  Melbourne                                                          32
  Washington                                                         32
  Phoenix                                                            30
  Toronto                                                            30
  Hong Kong                                                          29
  Cambridge                                                          29
  San Mateo                                                          28
  Paris                                                              27
  Amsterdam                                                          26
  Thessaloniki                                                       24
  Birmingham                                                         24
  Irvine                                                             24
  Redlands                                                           23
  St. Louis                                                          22
  Seattle                                                            22
  Stockholm                                                          22
  Bakersfield                                                        22
  Dublin                                                             21
  Cincinnati                                                         20
  London                                                             19
  Fort Worth                                                         19
  Woburn                                                             19
  San Jose                                                           19
  Newport Beach                                                      18
  Sydney                                                             17
  Tallinn                                                            17
  Miami                                                              17
  Manhattan Beach                                                    17
   Nasr City                                                         16
  Munich                                                             16
  Charlotte                                                          16
  Boca Raton                                                         16
  Orlando                                                            15
  Dubai                                                              15
  Chula Vista                                                        15
  Cedar Rapids                                                       14
  San Antonio                                                        14
  Burbank                                                            14
  Shoreditch                                                         14
  Menlo Park                                                         14
  Ann Arbor                                                          14
  Temple                                                             13
  Ottawa                                                             13
  Carlsbad                                                           13
  Copenhagen                                                         13
  College Station                                                    13
  AUSTIN                                                             13
  Neo Iraklio                                                        12
  Valencia                                                           12
  Beaufort                                                           12
  Pittsburgh                                                         12
  Sacramento                                                         11
  Columbus                                                           11
  Volos                                                              11
  Bellingham                                                         11
  Singapore                                                          11
  Bangalore                                                          11
  Helsinki                                                           11
  Corpus Christi                                                     11
  Wilmington                                                         11
  Manchester                                                         10
  Santa Clara                                                        10
  Scottsdale                                                         10
  Madison                                                            10
  Mountain View                                                      10
  Hyderabad                                                          10
  Golden Valley                                                      10
  Budapest                                                            9
  The Hague                                                           9
  Spring Hill                                                         9
  Harrogate                                                           9
  Seven Hills                                                         9
  Baltimore                                                           8
  Dundee                                                              8
  Richards Bay                                                        8
  DALLAS                                                              8
  Istanbul                                                            8
  Lexington                                                           8
  PLANO                                                               8
  Ghent                                                               8
  Athens (Iraklio)                                                    8
  Grand Rapids                                                        8
  Milwaukee                                                           8
  Greensboro                                                          8
  Sofia                                                               8
  Chennai                                                             8
  Plano                                                               8
  Hilliard                                                            8
  Wakefield                                                           8
  Taguig City                                                         7
  NY                                                                  7
  Arlington                                                           7
  Winnipeg                                                            7
  Rye                                                                 7
  Boise                                                               7
  San Carlos                                                          7
  Visakhapatnam                                                       7
  Oakland                                                             7
  Denver                                                              7
  St. Paul                                                            7
  Orange                                                              7
  Amersfoort                                                          7
  Clevedon                                                            7
  Edinburgh                                                           7
  Notting Hill                                                        7
  Moscow                                                              7
  Libertyville                                                        7
  München                                                             7
  Reston                                                              7
  Columbia                                                            7
  Pasadena                                                            7
  Acharnai                                                            7
  Louisville                                                          7
  Fishers                                                             6
  QUEZON CITY                                                         6
  Hampton                                                             6
  New Braunfels                                                       6
  Porto                                                               6
  Visby                                                               6
  Montreal                                                            6
  Encino                                                              6
  Marousi                                                             6
  Artarmon                                                            6
  Farmingdale                                                         6
  Ebene                                                               6
  Indore                                                              6
  Milano                                                              6
  Riga                                                                6
  Hoxton                                                              6
  McLean                                                              6
  Harrisburg                                                          6
  Lake Oswego                                                         6
   CA                                                                 6
  Jersey City                                                         6
  Durham                                                              6
  Fresno                                                              6
   Athens                                                             6
  Aix en Provence                                                     6
  San Ramon                                                           6
  Syracuse                                                            6
  Greenville                                                          6
  Indianapolis                                                        6
  Jacksonville                                                        6
  Lubbock                                                             6
  Zürich                                                              6
  Eindhoven                                                           5
  Carmel                                                              5
  Sunnyvale                                                           5
  São Paulo                                                           5
  Oxford                                                              5
  Emeryville                                                          5
  Bangkok                                                             5
  Maadi                                                               5
  Oak Brook                                                           5
  Chalandri                                                           5
  Robinson Township                                                   5
  Tigard                                                              5
  Cairo                                                               5
  Omaha                                                               5
US                                                                    5
  Draper                                                              5
  Oklahoma City                                                       5
  Danville                                                            5
  Raleigh                                                             5
  Aberdeenshire                                                       5
  Cottage Grove                                                       5
  Princeton                                                           5
  Orland Park                                                         5
  Camberley                                                           5
  Charlottesville                                                     5
  Piscataway                                                          5
  Glendale heights                                                    5
  Milwaukie                                                           4
  Knoxville                                                           4
  Broomfield                                                          4
  Dayton                                                              4
  Dallas/ Fort Worth                                                  4
  Lincoln                                                             4
  Charleston                                                          4
  Asheville                                                           4
  Greater Los Angeles Area                                            4
  Marina del Rey                                                      4
  Hopkins                                                             4
  Glendale Heights                                                    4
  Chula Vista                                                         4
  Moorhead                                                            4
  Montpellier                                                         4
  Aberdeen                                                            4
  Managua                                                             4
  Cleveland                                                           4
  West Palm Beach                                                     4
  Pune                                                                4
  Albany                                                              4
  St Paul                                                             4
  Long Island City                                                    4
  Indiana                                                             4
  Jakarta                                                             4
  Iraklio                                                             4
  Orange County                                                       4
  Wellington                                                          4
  Hessle                                                              4
  Auckland                                                            4
  Beverly Hills                                                       4
  Celina                                                              4
  Luxembourg                                                          4
  Minneapolis                                                         4
GB                                                                    4
  Edmonton                                                            4
  Flushing                                                            4
  Hollywood                                                           4
  Edinburgh                                                           4
  Elmsford                                                            4
  San Francisco Bay Area                                              4
  Dortmund                                                            4
  Fairfax                                                             4
  Hamburg                                                             4
  Newark                                                              4
  Surry Hills                                                         4
  Teddington                                                          4
  Fulham                                                              4
  Tokyo - Shibuya                                                     4
  New York Metro                                                      3
   Olaya                                                              3
  Coventry                                                            3
  Colorado Springs                                                    3
  Glyfada                                                             3
  NE Portland                                                         3
  Patra                                                               3
  Auburn                                                              3
  Santa Cruz                                                          3
  Lisbon                                                              3
  Newcastle Upon Tyne                                                 3
  Palo Alto                                                           3
  West Hollywood                                                      3
  Decatur                                                             3
  Pleasanton                                                          3
  Belfast                                                             3
  Sioux Falls                                                         3
  Barcelona                                                           3
  Leeds                                                               3
  Peekskill                                                           3
  København Ø                                                         3
  Bismarck                                                            3
  Mechanicsburg                                                       3
  Nashville                                                           3
  Frankfurt                                                           3
  Danvers                                                             3
  Saint Paul                                                          3
  Wigan                                                               3
  Atlanta                                                             3
  Chamberi | Madrid                                                   3
  Lahore                                                              3
  Springfield                                                         3

In [161]:
set(list)

{'',
 '00MandaluyongCity',
 '00Manila',
 '00NorthgateAlabang',
 '00Philippies',
 '00QUEZONCITY',
 '00TaguigCity',
 '00makati',
 '01',
 '01Olaya',
 '01Singapore',
 '02',
 '03Oslo',
 '05AlHufuf',
 '07BayanLepas',
 '10010',
 '10969',
 '10Bangkok',
 '10KUALALUMPUR',
 '11AlHasa',
 '11Lisbon',
 '12Banbuathong',
 '12PhnomPhen',
 '13',
 '13Lumlukka',
 '13Porto',
 '13Tokyo-Shibuya',
 '14KL-PetalingJaya',
 '1Reykjavik',
 '23',
 '23Sofia',
 '25Milan',
 '25Milano',
 '34',
 '34Istanbul',
 '37Tallinn',
 '6Pese',
 '71Cherkassy',
 '8',
 '82AarhusC',
 '84Copenhagen',
 '84CopenhagenØ',
 '84KøbenhavnØ',
 '84copenhagen',
 '8Panama',
 'AMERSFOORT',
 'ARLINGTON',
 'ATHENS',
 'AUS/SAT',
 'AUSTIN',
 'Aberdeen',
 'Aberdeenshire',
 'Abudhabi',
 'Accra',
 'Acharnai',
 'Acharnes',
 'Addison',
 'AgiaParaskevi',
 'Ahens',
 'AixenProvence',
 'Akron',
 'AlNashwa',
 'Alamosa',
 'Albany',
 'Alexandria',
 'Alfred',
 'Alimos',
 'AllendaleCharterTownship',
 'Allentown',
 'Alsip',
 'Amersfoort',
 'Ames',
 'Amherst',
 'Amsterdam',
 'Anderson',
 'AnnArbor',
 'Antwerpen',
 'Arcadia',
 'Arcata',
 'Arlington',
 'Artarmon',
 'Asheville',
 'Ashland',
 'Assen',
 'Athena',
 'Athens',
 'Athens(Iraklio)',
 'Atlanta',
 'Atlanta-Covington',
 'AtlantaGa',
 'Auburn',
 'AuburnHills',
 'Auc',
 'Auckland',
 'Auckland/Penrose',
 'Augusta',
 'Aurora',
 'Austin',
 'Austin(orremote)',
 'BARNSLEY',
 'Bailtmore',
 'Bakersfield',
 'Baltimore',
 'Baltimore/Columbia',
 'Bangalore',
 'Barcelona',
 'Barrington',
 'Basingstoke',
 'Bath',
 'Batley',
 'BatonRouge',
 'BayArea',
 'Beaufort',
 'BeaverFalls',
 'Beckley',
 'Bedfordshire',
 'Belfast',
 'Bellevue',
 'Bellingham',
 'Bemidji',
 'Bend',
 'Bengaluru',
 'Berea',
 'Berkeley',
 'Berlin',
 'Berlin/Malaysia',
 'Bethany',
 'Bethesda',
 'BeverlyHills',
 'Binghampton',
 'Birmingham',
 'Bishopsgate',
 'Bismarck',
 'Blackpool',
 'Blacksburg',
 'Bloomington',
 'Bloomsburg',
 'Bluffton',
 'BocaRaton',
 'Boise',
 'Boone',
 'Boston',
 'Boulder',
 'Bournemouth',
 'BowlingGreen',
 'Bozeman',
 'Br',
 'Bradford',
 'Bridgewater',
 'Brighouse',
 'Bristol',
 'Bronx',
 'Brookings',
 'Brooklyn',
 'Brookyn',
 'Broomfield',
 'Brownsville',
 'Brunswick',
 'Brussels',
 'Bruxelles',
 'Bryan',
 'Bucharest',
 'Buckhannon',
 'Budapest',
 'Buffalo',
 'Burbank',
 'Burleson',
 'Burlingame',
 'Burlington',
 'CA',
 'CA/Mt.Poso',
 'CHENNAI',
 'CORALSPRINGS',
 'Cairo',
 'Calgary',
 'California',
 'Camberley',
 'Cambridge',
 'CanaryWharf',
 'Cantebury',
 'Canterbury',
 'Canton',
 'Carbondale',
 'Carlsb',
 'Carlsbad',
 'Carlton',
 'Carmel',
 'Carrollton',
 'Casper',
 'CedarFalls',
 'CedarRapids',
 'Celina',
 'Central/SouthernMinnesota',
 'CentralBirmingham',
 'CentralLodon',
 'CentralLondon',
 'CentralNJPreferred',
 'Chalandri',
 'Chamberi|Madrid',
 'Champaign',
 'Champaigne',
 'Chandler',
 'Chania',
 'ChapelHill',
 'Charleston',
 'Charlotte',
 'Charlottesville',
 'Chattanooga',
 'Chautauqua',
 'Cheadle',
 'Chelmsford',
 'Cheney',
 'Chennai',
 'Chesapeake',
 'Chester',
 'ChestnutHill',
 'Chicago',
 'Chico',
 'ChulaVista',
 'Cimahi',
 'Cincinnati',
 'City',
 'Claremont',
 'Clarion',
 'ClearLake',
 'Clemmons',
 'Clemson',
 'Clevedon',
 'Cleveland',
 'Cocoa',
 'Colchester',
 'College',
 'CollegePark',
 'CollegeStation',
 'Colombo',
 'ColoradoSprings',
 'Columbia',
 'Columbus',
 'Commack',
 'Concord',
 'Conway',
 'CoonRapids',
 'Cooperstown',
 'Copenhagen',
 'CoralSprings',
 'CorfeCastle',
 'Cornwall',
 'CorpusChristi',
 'Corsicana',
 'Cortland',
 'Corvallis',
 'CottageGrove',
 'CouncilBluffs',
 'Coventry',
 'Crewe',
 'Cullowhee',
 'Cupertino',
 'DALLAS',
 'DC',
 'DCMetro',
 'DE',
 'DEARBORN',
 'DFW',
 'Dallas',
 'Dallas/FortWorth',
 'Dallas/Ft.Worth',
 'Danbury',
 'Danvers',
 'Danville',
 'Davenport',
 'Davidson',
 'Dayton',
 'Decatur',
 'Deerfield',
 'Delaware',
 'Delhi',
 'Denton',
 'Denver',
 'Detroit',
 'Dewsbury',
 'DiamondBar',
 'Dickinson',
 'DistrictofColumbia',
 'Doha',
 'Dortmund',
 'Draper',
 'Dubai',
 'Dublin',
 'Dubuque',
 'Duluth',
 'Dundee',
 'Durango',
 'Durham',
 'EastLansing',
 'EastPeoria',
 'EastStroudsburg',
 'EasternUS',
 'EauClaire',
 'Ebene',
 'Edinboro',
 'Edinburgh',
 'Edison',
 'Edmond',
 'Edmonton',
 'Eindhoven',
 'Ellensburg',
 'Ellenville',
 'Elmira',
 'Elmsford',
 'Elon',
 'Elroy',
 'Emeryville',
 'Encino',
 'Essex',
 'Ettrick',
 'Eugene',
 'Evanston',
 'Evansville',
 'Everett',
 'FORTWORTH',
 'Fairfax',
 'FairfaxArea',
 'Fairmont',
 'Fargo',
 'FargoorBismarck',
 'Faribault',
 'Farmingdale',
 'FarmingtonHills',
 'Fayetteville',
 'Feltham',
 'Finchley',
 'FingerLakes',
 'Fishers',
 'Flagstaff',
 'Flint',
 'Florence',
 'Florida',
 'Flushing',
 'FortCollins',
 'FortLauderdale',
 'FortWayne',
 'FortWorth',
 'FourWays',
 'Frankfurt',
 'Franksville',
 'Fredericksburg',
 'Fredonia',
 'Freehold',
 'Fresno',
 'Frostburg',
 'Ft.Benning',
 'Fulham',
 'Fullerton',
 'GB',
 'GREENVILLE',
 'Gainesville',
 'Gaithersburg',
 'GardenGrove',
 'Gardena',
 'Garland',
 'Gdańsk',
 'Georgia',
 'Ghent',
 'Gilbert',
 'GilroyHollister',
 'Gladstone',
 'Glasgow',
 'Glasgow/Birmingham/London/Remote',
 'GlendaleHeights',
 'Glendaleheights',
 'Glyfada',
 'GoldenValley',
 'GrandForks',
 'GrandIsland',
 'GrandPrairie',
 'GrandRapids',
 'GreaterBoston',
 'GreaterLosAngelesArea',
 'Greencastle',
 'Greensboro',
 'Greenville',
 'Greenwich',
 'Grinnell',
 'Gurgaon',
 'HARTFORD',
 'HOUSTON',
 'Hackensack',
 'Haddonfield',
 'Halandri',
 'Halifax',
 'Hamburg',
 'Hamilton',
 'Hammersmith',
 'Hammond',
 'Hampton',
 'Hanley',
 'Harlan',
 'Harlingen',
 'Harrisburg',
 'Harrisonburg',
 'Harrogate',
 'Hartland',
 'HasbrouckHeights',
 'Hastings',
 'Hathersage',
 'Hattiesburg',
 'Heidelberg',
 'Helsinki',
 'HemelHempstead',
 'Henderson',
 'Herndon',
 'Hessle',
 'Hidalgo',
 'HighlandHeights',
 'Hilliard',
 'Hillsboro',
 'Hilversum',
 'Hoboken',
 'Hollywood',
 'HongKong',
 'Hopkins',
 'Horsforth',
 'Houston',
 'Hoxton',
 'Huddersfield',
 'HudsonValley',
 'Huntingdon',
 'Huntington',
 'HuntingtonBeach',
 'Hyderabad',
 'Ilion',
 'Illinois',
 'Indiana',
 'Indianapolis',
 'Indore',
 'Insch',
 'IowaCity',
 'Iowacity',
 'Irakleio',
 'Iraklio',
 'Irvine',
 'Irving',
 'IslaVista',
 'Istanbul',
 'Ithaca',
 'Jackson',
 'Jacksonville',
 'Jakarta',
 'Jamison',
 'Janesville',
 'JeffersonCity',
 'JerseyCity',
 'Johannesburg',
 'Jonesboro',
 'Juman',
 'Juneau',
 'Juárez',
 'Kalamazoo',
 'KansasCity',
 'Karachi',
 'Keene',
 'KellerandBurleson',
 'Kelowna',
 'Kent',
 'Kettering',
 'Kifisia',
 'Killeen',
 'Kingston',
 'KingstonuponThames',
 'Kingswinford',
 'Kirkland',
 'Kirksville',
 'Knoxville',
 'Komotini',
 'Krakow',
 'KualaLumpur-Sentral',
 'Kutztown',
 'LONDON',
 'LaMirada',
 'Lafayette',
 'Lahore',
 'LakeCity',
 'LakeOswego',
 'Lakeland',
 'Lakeport',
 'Langley',
 'Langston',
 'Lanham',
 'Lansing',
 'Laramie',
 'Laredo',
 'LasCruces',
 'LasVegas',
 'Lassi',
 'Lasvegas',
 'Launceston',
 'Lawrence',
 'Leeds',
 'Leesburg',
 'Leicester',
 'Leipzig',
 'Lekki',
 'Leuven',
 'Levittown',
 'Lewisburg',
 'Lexington',
 'Leyton',
 'Liberty',
 'Libertyville',
 'Lincoln',
 'LittleRock',
 'Livingston',
 'Livonia',
 'LockHaven',
 'Logan',
 'London',
 'LondonBridge',
 'LongBeach',
 'LongIsland',
 'LongIslandCity',
 'LosAngeles',
 'Louisville',
 'Lubbock',
 'Luton',
 'Luxembourg',
 'Lynwood',
 'MANASSAS',
 'Maadi',
 'Macclesfield',
 'Macomb',
 'Macon',
 'Madison',
 'Madrid',
 'Maidenhead',
 'MakatiCity',
 'Malden',
 'Managua',
 'Manchester',
 'Manhattan',
 'ManhattanBeach',
 'Mankato',
 'Mansfield',
 'MapleGrove',
 'MarcellusPawPawLawton',
 'Marin',
 'MarinaDelRey',
 'MarinadelRey',
 'Marion',
 'Marlborough',
 'Marlow',
 'Marousi',
 'Marousi-Athens',
 'Marshall',
 'Martin',
 'Maryland/D.C.Area',
 'Mason',
 'MasonCity',
 'Massachusetts',
 'MayfieldVillage',
 'McAllen',
 'McLean',
 'Meanwood',
 'Meas/Chandler/Gilbert',
 'Mechanicsburg',
 'Mechelen',
 'Medford',
 'MediaCity|Dubai',
 'Meigle',
 'Melbourne',
 'Menlo',
 'MenloPark',
 'Menomonie',
 'Mentor',
 'Merrillville',
 'Mesa',
 'Mesa/Chandler',
 'Mexico',
 'MexicoCity',
 'Miami',
 'Middlesex',
 'MilanArea',
 'Millersville',
 'MiltonKeynes',
 'Milwaukee',
 'Milwaukie',
 'Minden',
 'Minneapolis',
 'Minnetonka',
 'Miramar',
 'Missoula',
 'Monroe',
 'Monterey',
 'Monterrey',
 'Montevallo',
 'Montpellier',
 'Montreal',
 'Moorehead',
 'Moorhead',
 'Morgantown',
 'Moscow',
 'MountPleasant',
 'MountainView',
 'Mt.Pleasant',
 'Muncie',
 'Mundelein',
 'Munich',
 'Murfreesboro',
 'Murray',
 'Mykonos',
 'México',
 'München',
 'N.Irakleio',
 'NEPortland',
 'NOTTINGHAM',
 'NWHouston',
 'NWPortland&Hillsboro',
 'NY',
 'NZ',
 'Napanoch',
 'Nashville',
 'NasrCity',
 'Natchitoches',
 'NeaFiladelfia',
 'NeoAthens',
 'NeoIrakleio',
 'NeoIraklio',
 'NewBraunfels',
 'NewBritain',
 'NewBrunswick',
 'NewCastle',
 'NewDelhi',
 'NewHaven',
 'NewHudson',
 'NewJersey',
 'NewOrleans',
 'NewPaltz',
 'NewYork',
 'NewYork/Boston',
 'NewYorkCity',
 'NewYorkMetro',
 'Newark',
 'Newcastle',
 'NewcastleUponTyne',
 'NewportBeach',
 'Niles',
 'Noida',
 'Norman',
 'NorthDallas',
 'NorthEast',
 'NorthHollywood',
 'NorthPortland',
 'NorthSydney',
 'NorthYork',
 'Northampton',
 'Northbrook',
 'Northfield',
 'Northumberland',
 'NotreDame',
 'NottingHill',
 'Nottingham',
 'NoviSad',
 'OKLAHOMACITY',
 'OakBrook',
 'Oakland',
 'Oberlin',
 'OklahomaCity',
 'Omaha',
 'Oneonta',
 'Ontario',
 'Orange',
 'OrangeCounty',
 'OrlandPark',
 'Orlando',
 'Orono',
 'Oshkosh',
 'Ossett',
 'Oswego',
 'Otisville',
 'Ottawa',
 'OverlandPark',
 'Oxford',
 'PHILADELPHIA',
 'PLANO',
 'PalmSprings',
 'PaloAlto',
 'Paris',
 'Parma',
 'Parsippany',
 'Pasadena',
 'Pascagoula',
 'Patra',
 'Patras',
 'PawPaw',
 'PearlHarbor',
 'Peekskill',
 'Pembroke',
 'Penrith',
 'Peoria',
 'PerthandKinross',
 'Perthshire',
 'Philadelphia',
 'Philippi',
 'Philippines',
 'Phoenix',
 'Phoneix',
 'Picacho',
 'Piraeus',
 'Pireaus',
 'Piscataway',
 'Pittsburgh',
 'Plano',
 'Plantation',
 'Plattsburgh',
 'Pleasanton',
 'Pleasonton',
 'Plymouth',
 'PointLookout',
 'PompanoBeach',
 'Porland',
 'PortCharlotte',
 'Portand',
 'Portland',
 'Portland/Hillsboro',
 'Porto',
 'Portsmouth',
 'Potsdam',
 'Poughkeepsie',
 'Poznań',
 'Preston',
 'Princeton',
 'Provo',
 'Pullman',
 'Pune',
 'Putney',
 'QUEZONCITY',
 'Queens',
 'Querétaro',
 'REMOTE',
 'RacineArea',
 'Radford',
 'Raleigh',
 'Ravenna',
 'Reading',
 'RedDeer',
 'Redlands',
 'Remote',
 'Reno',
 'Reston',
 'Rexburg',
 'RichardsBay',
 'Richmond',
 'Riga',
 'Rindge',
 'Ringgold',
 'RioDeJaneiro',
 'RiverFalls',
 'RiversideCoutny',
 'RobinsonTownship',
 'Rochester',
 'RockHill',
 'RockvilleCentre',
 'Rome',
 'Rosemead',
 'Roseville',
 'Rotterdam',
 'RoyalOak',
 'Rusholme',
 'Ruston',
 'Rye',
 'SEHouston',
 'SEPortland',
 'SWPortland',
 'Sacaramento',
 'Sacramento',
 'SaintPaul',
 'Sale',
 'Salem',
 'Salford',
 'Salinas',
 'Salisbury',
 'SaltLakeCity',
 'Saltillo',
 'San',
 'SanAntonio',
 'SanCA',
 'SanCarlos',
 'SanDiego',
 'SanDiego/OrangeCounty',
 'SanDigeo',
 'SanFrancisco',
 'SanFranciscoBayArea',
 'SanFranscisco',
 'SanJose',
 'SanLuisObispo',
 'SanMateo',
 'SanRamon',
 'Sandy',
 'SantaClara',
 'SantaCruz',
 'SantaMonica',
 'SantaRosa',
 'SaoPaulo',
 'SaratogaSprings',
 'Savage',
 'Scarborough',
 'Scottsdale',
 'Scottsdale/Phoenix',
 'Scranton',
 'Seattle',
 'SeetheRequirementssectionforareasandlocationsavailable',
 'Selinsgrove',
 'Seneca',
 'SevenHills',
 'Sewell',
 'Shepherdstown',
 'Shippensburg',
 'Shoreditch',
 'Sidney',
 'Singapore',
 'SiouxFalls',
 'SlipperyRock',
 'Sofia',
 'SouthBend',
 'SouthSanFrancisco',
 'SouthYorkshire',
 'Southampton',
 'Spicewood',
 'SpringHill',
 'Springfield',
 'St.Bonaventure',
 'St.Cloud',
 'St.Louis',
 'St.Paul',
 'St.Petersburg',
 'StLouis',
 'StPaul',
 'Stafford',
 'Staffordshire',
 'Stanford',
 'Starkville',
 'Statewide',
 'Stockholm',
 'Stockton-On-Tees',
 'Sunnyvale',
 'Surbiton',
 'SurryHills',
 'Suwanee',
 'Swindon',
 'Sydney',
 'Syracuse',
 'SãoPaulo',
 'TULSA',
 'TaguigCity',
 'Taipei',
 'Tampa',
 'Teddington',
 'Tel-Aviv',
 'Temecula',
 'Tempe',
 'Temple',
 'TheHague',
 'Thessaloniki',
 'Tigard',
 'Tokyo-Shibuya',
 'Toronto',
 'Torrance',
 'Totowa',
 'Trenton',
 'Trivandrum',
 'Troy',
 'Tulsa',
 'TwinCities',
 'TysonsCorner',
 'US',
 'UnionGrove',
 'Urmston',
 'Utica',
 'Valanciennes',
 'Valencia',
 'Valenciennes',
 'VanWert',
 'Vancouver',
 'Vari',
 'VariousinWestYorkshire',
 'VirginiaBeach',
 'Visakhapatnam',
 'Visby',
 'Vishakhapatanam',
 'Volos',
 'WAUKESHA',
 'WC1V6PX',
 'Wakefield',
 'Warrington',
 'Warsaw',
 'Warwick',
 'Washington',
 'WashingtonDC',
 'Waterloo',
 'Watertown',
 'Watervliet',
 'Waucanda',
 'Waukegan',
 'Waukesha',
 'Waynesburg',
 'Weaverville',
 'Wel',
 'Wellington',
 'WestAllis',
 'WestCovina',
 'WestDesMoines',
 'WestHaven',
 'WestHollywood',
 'WestPalmBeach',
 'WesternUS',
 'WesternWisconsin',
 'Westerville',
 'Weston',
 'Westport',
 'Weymouth',
 'WhitePlains',
 'Wigan',
 'Wilmington',
 'Wimbledon',
 'Winnipeg',
 'WinstonSalem',
 'Woburn',
 'Woking',
 'Wolverhampton',
 'WoodlandHills',
 'Yankton',
 'YorbaLinda',
 'Zurich',
 'Zürich',
 'auckland',
 'bangalore',
 'bedfordshire',
 'berlin',
 'ca',
 'caulfield',
 'chalandri',
 'chicago',
 'dallas',
 'denver',
 'kent',
 'knoxville',
 'leeds',
 'liverpool',
 'lo',
 'london',
 'louisville',
 'miami',
 'milwaukee',
 'newyork',
 'ravenna',
 'sandiego',
 'sanfrancisco',
 'sydney',
 'Αthens',
 'Αθήνα'}